
.nav-bar {
    display: flex;
    background-color: black;
    padding: 5px;
}
.nav-heading {
    color: white;
    margin-left: 5px;
}

.app-title{
    font-family: 'Roboto', sans-serif;
}

.username{
    font-family: 'Crimson Text', sans-serif;
}